*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
/.idea/
/anvil_jks
*.log
/build_log.txt
/build_out.txt
/build_output.txt
/keystore_base64.txt
/.kotlin/sessions/kotlin-compiler-491532689527502300.salive
/feature/build/
/data/build/
/core/build/
